{% extends 'template.html'%}{%block mainpage %}
<div class="container pt-5 pb-5">
  <h2>Your cart</h2>
  <hr />
  <div class="row ">
    <div class="col-lg-8">
      {% for item in cartitems %}
      <div class="container">
        <div class="row click-cart">
          <div class="col-lg-6">
            <img src="{{item.Product.Image.url}}" width="150" height="150" />
          </div>

          <div class="col-lg-4 cart-details">
            <p>{{item.Product.Pname}}</p>
            <p class="cart-price">{{item.Product.Price}} Rs</p>
            <p>{{item.Product.Discription|truncatewords:2}}</p>
            <!-- <p>{{item.Email}}</p> -->
            <input class="quantity-input w-25 h-25" id="quantity" type="number" value="1" MIN="1" MAX="20">
          <span class="ml-5" id="item-price">{{item.Product.Price}} Rs</span>
          </div>
          <div class="col-lg-2">
          <button class="delete-cart btn btn-danger" id={{item.id}}>x</button>
          </div>
        </div>
         <hr />
      </div>

      {% endfor %}
    </div>
    <div class="col-lg-4">
      <div class="border border-dark p-3">
        <div class="d-flex justify-content-center">
          <h3>10 item in cart</h3>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <h5>SubTotal</h5>
          <h5>{{tp}}rs</h5>
        </div>
        <hr />
        <div class="d-flex justify-content-between cart-total-price">
          <h5>Total</h5>
          <h5>{{tp}}rs</h5>
        </div>
        <hr />
      </div>
      <div class="p-4">
        <div class="d-inline ">
          <button class="btn btn-danger">
            <a href="#" class="text-white text-decoration-none"
              >Process to Pay</a
            >
          </button>
        </div>
        <div class="d-inline ">
          <button class="btn btn-success">
            <a href="home" class="text-white text-decoration-none"
              >Continue Shopping</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
