<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css"%} />
    <link rel="stylesheet" href={% static "css/main.css"%} />
    <script type="text/javascript">
    var user='{{request.session.Username}}';

    function getToken(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie=cookies[i].trim(); // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1)===(name + '=' )) {
        cookieValue=decodeURIComponent(cookie.substring(name.length + 1));
        break;
        } } }
        return cookieValue;
        }
        var csrftoken=getToken('csrftoken')
    </script>
  </head>

  <body>
    <!-- {% include 'old_navbar.html' %} -->
    <!-- Navigation -->
    <div class="page-container">
    <div class="content-wrap">
    {% include 'includes/navbar.html' %}
     {%block mainpage%} {%endblock%}
    </div>

    <!-- /.container -->

    <!-- Footer -->
    {% include 'includes/footer.html'%}
    </div>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% comment %} <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    crossorigin="anonymous"
  ></script> {% endcomment %}
 <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src={% static "bootstrap/js/bootstrap.min.js"%}
    crossorigin="anonymous"
  ></script>
  <script src={% static "bootstrap/js/bootstrap.bundle.min.js"%}></script>


  <script src={% static "main.js" %}></script>
</html>
